  <form name="userForm" ng-submit="ctrl.formSubmit()" novalidate>

        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" ng-model="ctrl.email" ng-minlength="3" required>
             <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            <p ng-show="userForm.email.$error.minlength" class="help-block">Email is too short.</p>
        </div>
            
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password*</label>
            <input type="password" ng-minlength="8" name="password" class="form-control" ng-model="ctrl.password" required>
           
             <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
    
